    <div class="card-content mb-2">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="img">
            <span><h4>{{destino.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero accusantium eum, maxime aspernatur neque fugit quis eius quisquam molestias in iure sunt? Beatae officiis fuga nulla consectetur dicta nemo illum!</p>
            <a href="#" class="btn-card">Read</a>
        </div>
    </div>