<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/wish-list.png" width="30" height="30" class="d-inline-block align-top"
      alt="">
    {{title}}
  </a>
</nav>
<div class="container content mt-5">
  <app-lista-destinos></app-lista-destinos>
</div>