<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="imgUrl">Imagen url</label>
                            <input type="text" class="form-control" id="imgUrl" placeholder="Ingrese url de img..." #imgUrl>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, imgUrl.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <app-destino-viaje *ngFor="let i of destinos" [destino]="i"></app-destino-viaje>
    </div>
</div>